@font-face {
    font-family: Galada-Regular;
    src: url("/src/assets/fonts/Galada-Regular.ttf");
}
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.font-galada{
     font-family: Galada-Regular;
}
.gradient-bg{
   background: linear-gradient(to left,red,blue)
}
.gradient-bg:hover{
  background: linear-gradient(to right, red,blue)
}
